fastapi
uvicorn
gunicorn
python-multipart
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
langchain>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-google-genai>=1.0.0,<2.0.0
langchain-groq>=0.1.0,<0.2.0
faiss-cpu
tiktoken
python-dotenv
asyncpg
sqlmodel
pypdf
sentence-transformers
langchain-huggingface
