fastapi
uvicorn
gunicorn
python-multipart
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
langchain>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-google-genai>=1.0.0,<2.0.0
langchain-groq>=0.1.0,<0.2.0
faiss-cpu
tiktoken
python-dotenv
asyncpg
sqlmodel
pypdf
sentence-transformers
langchain-huggingface
scikit-learn
rank-bm25==0.2.2
FlagEmbedding==1.2.9
langgraph>=0.2.0
langchain-anthropic>=0.1.15
langchain-openai>=0.1.8
